body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Noto Sans Thai;
    /* background-color: #f0f2f5; */
    background: linear-gradient(135deg, #f3f4f6, #a2c7e5);
    /* background-size: cover; */
    background-attachment: fixed;
}
.login-container {
    width: 300px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}
h2 {
    margin-bottom: 20px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 92%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button-container {
    display: flex;
    justify-content: space-between;
}
button {
    padding: 10px;
    width:25%;
    margin: 10px auto;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}
button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ปุ่มสีแดง */
button.red-button {
    background-color: #dc3545; /* สีแดง */
}
button.red-button:hover {
    background-color: #a71d2a; /* สีแดงเข้ม */
}

.timerDisplay {
    position: fixed; /* ทำให้เลื่อนตาม */
    top: 10px;       /* ระยะจากด้านบน */
    right: 10px;     /* ระยะจากด้านขวา */
    background-color: #f9f9f9; /* สีพื้นหลัง */
    color: #000;     /* สีข้อความ */
    padding: 10px;   /* ระยะห่างในกล่อง */
    border: 2px solid #000; /* กรอบ */
    border-radius: 5px; /* มุมโค้ง */
    font-size: 1.2em; /* ขนาดตัวอักษร */
    font-weight: bold; /* ตัวอักษรหนา */
    z-index: 1000; /* แสดงเหนือส่วนอื่น */
}
